.messageText, .restart {
  font-size: 14px;
  position: relative;
  margin-top: 15px;
}

.display-stats {
  display: none;
  font-size: 20px;
  position: relative;
  margin-top: 15px;
}

li {
  list-style: none;
}

#stage {
  display: inline-block;
  float: left;
}

.cellSelected {
  top: 603px;
  left: 603px;
}

.cellSelected00,
.cellSelected01,
.cellSelected02,
.cellSelected10,
.cellSelected11,
.cellSelected12,
.cellSelected20,
.cellSelected21,
.cellSelected22 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
}

.cellSelected00:hover,
.cellSelected01:hover,
.cellSelected02:hover,
.cellSelected10:hover,
.cellSelected11:hover,
.cellSelected12:hover,
.cellSelected20:hover,
.cellSelected21:hover,
.cellSelected22:hover {
  background-color: rgb(209, 209, 209);
}
